<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html"> <img alt="image" src="assets/img/white.jpg" class="header-logo" /> <span
          class="logo-name">Faith.ly</span>
      </a>
    </div>
    <div class="sidebar-user">
      <div class="sidebar-user-picture">
        <img alt="image" [src]="'./assets/img/users/default-user.png'">
      </div>
      <div class="sidebar-user-details">
        <div class="user-name">{{user?.name }}</div>
        <div class="user-role">Welcome <b>{{user?.name}}</b> </div>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Main</li>
      <li  routerLink="/dashboard/home" routerLinkActive="active"><a class="nav-link" ><i data-feather="file" class="fa fa-home"></i><span>Home</span></a></li>
      <li  routerLink="/dashboard/profile" routerLinkActive="active"><a class="nav-link" ><i data-feather="file" class="fa fa-user"></i><span>Profile</span></a></li>
      <li routerLink="/dashboard/goals" routerLinkActive="active"><a class="nav-link"  ><i data-feather="file" class="fa fa-temperature-high"></i><span>Goals</span></a></li>
      <li  routerLink="/dashboard/setting" routerLinkActive="active"><a class="nav-link" ><i data-feather="file" class="fa fa-cog"></i><span>Setting</span></a></li>
    </ul>
  </aside>
</div>